<app-page-title [icon]="icon()" [title]="type() + ' Management'"></app-page-title>

<app-list-view>

  <form [formGroup]="form" search class="row">
    <app-search-form-group class="col-auto" label="Date From">
      <input formControlName="from" type="date" class="form-control" >
    </app-search-form-group>
    <app-search-form-group class="col-auto" label="Date To">
      <input formControlName="to" type="date" class="form-control" >
    </app-search-form-group>
    <app-search-form-group class="col-auto" label="Keyword">
      <input formControlName="keyword" type="text" placeholder="Search Keyword" class="form-control" >
    </app-search-form-group>

    <div class="col btn-wrapper">
      <button (click)="search()" type="button" class="btn btn-outline-primary">
        <i class="bi-search"></i> Search
      </button>

      <a [routerLink]="['/edit']" [queryParams]="{type : type()}" class="btn btn-outline-danger ms-2">
        <i class="bi-plus-lg"></i> Add New
      </a>
    </div>
  </form>

  <section list>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
          <th>Issue At</th>
          <th>Issuer</th>
          <th>Items</th>
          <th>Amount</th>
          <th>Remark</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (item of list(); track $index) {
          <tr>
            <td>{{item.category}}</td>
            <td>{{item.issueAt}}</td>
            <td>{{item.issuer}}</td>
            <td>{{item.items}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.remark}}</td>
            <td class="text-center">
              <a [routerLink]="['/details']" [queryParams]="{id: item.id, type: item.type}" class="icon-link">
                <i class="bi-folder2-open"></i>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <app-pagination></app-pagination>
  </section>
</app-list-view>
