<h6 class="card-title">
  <i class="bi-info-lg"></i> Information
</h6>

<!-- Code -->
<div class="mb-3">
  <label class="form-label">Code</label>
  <span class="form-control">
    {{data().code}}
  </span>
</div>
<!-- Name -->
<div class="mb-3">
  <label class="form-label">Name</label>
  <span class="form-control">
    {{data().name}}
  </span>
</div>

<!-- Phone -->
<div class="mb-3">
  <label class="form-label">Phone</label>
  <span class="form-control">
    {{data().phone}}
  </span>
</div>

<!-- Head Of Department -->
@if (data().hodName) {
  <div class="mb-3">
    <label class="form-label">Head of Department</label>
    <span class="form-control">
      {{data().phone}}
    </span>
  </div>
  }
