<app-page-title icon="bi-gear" title="Change Password"></app-page-title>

<div class="w-50">
  <form [formGroup]="form" class="mt-3">
    <app-validated-form-group [valid]="form.get('oldPassword')?.valid" label="Old Password">
      <input formControlName="oldPassword" type="password" class="form-control" placeholder="Enter Old Password">
    </app-validated-form-group>
    <app-validated-form-group [valid]="form.get('newPassword')?.valid" label="New Password">
      <input formControlName="newPassword" type="password" class="form-control" placeholder="Enter New Password">
    </app-validated-form-group>

    <button (click)="changePassword()" [class.disabled]="!form.valid" type="button" class="btn btn-outline-danger">
      <i class="bi-check"></i> Change Password
    </button>
  </form>
</div>
