<div class="d-flex">

  <div id="side-bar" [class.text-center]="!show()" [class.show]="show()" [class.hide]="!show()" class="shadow">
    <h5 (click)="toggleSideBar()" class="m-3">
      @if (show()) {
        <i class="bi-arrow-left"></i> Balances
      } @else {
        <i class="bi-arrow-right"></i>
      }
    </h5>

    @if (isLogin()) {
      <nav>
        <ul>
          @if (isActivated()) {
            <li>
              <app-nav-link icon="bi-house" title="Home" [show]="show()" [path]="['/home']"></app-nav-link>
            </li>
            @if (isManagementUser()) {
              <li>
                <app-nav-link icon="bi-bar-chart" title="Balance Report" [show]="show()" [path]="['/report']"></app-nav-link>
              </li>
            }
            <li>
              <app-nav-link icon="bi-cash-stack" title="Incomes" [show]="show()" [path]="['/incomes']"></app-nav-link>
            </li>
            <li>
              <app-nav-link icon="bi-cart-dash" title="Expenses" [show]="show()" [path]="['/expenses']"></app-nav-link>
            </li>
            @if (isManagementUser()) {
              <li>
                <app-nav-link icon="bi-people" title="Employees" [show]="show()" [path]="['/employee']"></app-nav-link>
              </li>
              <li>
                <app-nav-link icon="bi-tags" title="Category" [show]="show()" [path]="['/category']"></app-nav-link>
              </li>
            }
            <li>
              <app-nav-link icon="bi-gear" title="Change Password" [show]="show()" [path]="['/change-pass']"></app-nav-link>
            </li>
          }

          <li>
            <app-nav-link (click)="signOut()" icon="bi-lock" title="Sign Out" [show]="show()" ></app-nav-link>
          </li>
        </ul>
      </nav>
    } @else {
      @if (show()) {
        <div class="alert alert-info">
          Welcome to Balance Application.
        </div>
      }
    }
  </div>

  <main class="container-fluid m-3">

    <router-outlet></router-outlet>

    <app-error-dialog (login)="onError($event)" ></app-error-dialog>
  </main>

</div>
