@if (data()) {
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td style="width: 240px;">ID</td>
        <td>{{data().id}}</td>
      </tr>

      <tr>
        <td>Name</td>
        <td>{{data().name}}</td>
      </tr>

      <tr>
        <td>Role</td>
        <td>{{data().role}}</td>
      </tr>

      <tr>
        <td>Status</td>
        <td>{{data().status}}</td>
      </tr>

      <tr>
        <td>Phone</td>
        <td>{{data().phone}}</td>
      </tr>

      <tr>
        <td>Email</td>
        <td>{{data().email}}</td>
      </tr>
    </tbody>
  </table>
}
