<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div data-th-fragment="dialog" id="categoryEditDialog" data-th-attr="data-show=${error}" class="modal fade">
		<div class="modal-dialog">
			<form id="editForm" data-th-action="@{/admin/category}" data-th-object="${form}" method="post" class="modal-content">
				
				<div class="modal-header">
					<h5>Edit Category</h5>
				</div>
				
				<div class="modal-body">
				
					<input type="hidden" data-th-field="*{id}" />
				
					<!-- Name -->
					<div class="mb-3">
						<label for="name" class="form-label">Name</label>
						<input data-th-field="*{name}" type="text" class="form-control" placeholder="Enter Category Name" />
						<span data-th-errors="*{name}"></span>
					</div>

					<div class="mb-3">
						<label for="description" class="form-label">Description</label>
						<textarea data-th-field="*{description}" rows="3" cols="20" class="form-control" placeholder="Enter Description"></textarea>
					</div>

					<!-- Status -->
					<div class="mb-3">
						<label for="deleted" class="form-label">Status</label>
						<select data-th-field="*{deleted}" class="form-select">
							<option value="false">Active</option>
							<option value="true">Deleted</option>
						</select>
					</div>
				
				</div>
				
				<div class="modal-footer">
					<button id="closeButton" type="button" class="btn btn-outline-primary">
						<i class="bi-x"></i> Close
					</button>
					
					<button type="submit" class="btn btn-outline-danger">
						<i class="bi-save"></i> Save
					</button>
				</div>
			</form>
		</div>
		
		<script data-th-src="@{/js/category-edit.js}"></script>
	</div>

</body>
</html>