<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div data-th-fragment="categories">
		<!-- Categories -->
		<h6><i class="bi-tags"></i> Categories</h6>
		
		<div class="list-group">
			<a data-th-each="item : ${categories}"
				data-th-href="@{/public/posts(category=${item.id})}" 
				data-th-text="${item.name}"  
				class="list-group-item">Some Category</a>
		</div>	
	</div>
	
	<div data-th-fragment="coverImage">
		<!-- Post of Cover -->
		<img class="img img-fluid" alt="Profile Image" data-th-src="@{/images/cover.png}">
	</div>
	
	<div data-th-fragment="postItem(item)" >
		
		<div class="card">
			<div class="card-body">
				<h5 data-th-text="${item.title}">Title</h5>
				<div class="d-flex text-secondary">
					<div class="me-2">
						<i class="bi-calendar"></i>
						<span data-th-text="${@dateTimes.format(item.createAt)}">Owner</span>
					</div>
					<div class="me-2">
						<i class="bi-tag"></i> 
						<span data-th-text="${item.categoryName}">Category</span>
					</div>
					<div>
						<i class="bi-person"></i>
						<span data-th-text="${item.memberName}">Owner</span>
					</div>
				</div>
			</div>
			
			<div class="card-image bg-light" data-th-include="~{:: photos(${item.photos})}"></div>
			
			<div class="card-body">
				<p data-th-text="${item.description}">Description</p>
				<div class="d-flex justify-content-between align-items-center">
					<div data-th-insert="~{::rating(${item.stars})}"></div>
					<a data-th-href="@{|/public/posts/${item.id}|}" class="btn btn-primary">
						<i class="bi-send"></i> Show Details
					</a>
				</div>
			</div>
		</div>
	</div>
	
	
	<div data-th-fragment="photos(list)" >
		<div data-th-switch="${list.size()}">
			<div data-th-case="1">
				<img data-th-src="@{|/photos/${list[0]}|}" class="img-post img-post-large" />
			</div>
			<div data-th-case="2" class="row">
				<div class="col">
					<img data-th-src="@{|/photos/${list[0]}|}" class="img-post img-post-large" />
				</div>
				<div class="col">
					<img data-th-src="@{|/photos/${list[1]}|}" class="img-post img-post-large" />
				</div>
			</div>
			<div data-th-case="3">
				<div class="row mb-4">
					<div class="col">
						<img data-th-src="@{|/photos/${list[0]}|}" class="img-post img-post-small" />
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img data-th-src="@{|/photos/${list[1]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[2]}|}" class="img-post img-post-small" />
					</div>
				</div>
			</div>
			<div data-th-case="4">
				<div class="row mb-4">
					<div class="col">
						<img data-th-src="@{|/photos/${list[0]}|}" class="img-post img-post-small" />
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img data-th-src="@{|/photos/${list[1]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[2]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[3]}|}" class="img-post img-post-small" />
					</div>
				</div>
			</div>
			<div data-th-case="5">
				<div class="row mb-4">
					<div class="col">
						<img data-th-src="@{|/photos/${list[0]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[1]}|}" class="img-post img-post-small" />
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img data-th-src="@{|/photos/${list[2]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[3]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[4]}|}" class="img-post img-post-small" />
					</div>
				</div>
			</div>
			<div data-th-case="*">
				<div class="row mb-4">
					<div class="col">
						<img data-th-src="@{|/photos/${list[0]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[1]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[2]}|}" class="img-post img-post-small" />
					</div>
				</div>
				<div class="row">
					<div class="col">
						<img data-th-src="@{|/photos/${list[3]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[4]}|}" class="img-post img-post-small" />
					</div>
					<div class="col">
						<img data-th-src="@{|/photos/${list[5]}|}" class="img-post img-post-small" />
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div data-th-fragment="rating(stars)">
		<div class="d-flex">
			<span data-th-each="star : ${stars}" class="me-1">
				<i data-th-class="${star}"></i>
			</span>
		</div>
	</div>
	
	
	<div data-th-fragment="postSummary(post)">
		<!-- Title -->
		<h5 data-th-text="${post.title}">Title</h5>
		
		<!-- Short Informations -->
		<div class="d-flex">
			<!-- Category -->
			<div class="me-2">
				<i class="bi-tag"></i> <span data-th-text="${post.categoryName}">Category Name</span>
			</div>
			
			<!-- Post Date -->
			<div class="me-2">
				<i class="bi-calendar"></i> <span data-th-text="${@dateTimes.format(post.createAt)}">yyyy/MM/dd HH:mm</span>
			</div>
			
			<!-- Owner -->
			<div>
				<i class="bi-person"></i> <span data-th-text="${post.memberName}">Owner Name</span>
			</div>
		</div>
		
		<!-- Description -->
		<p data-th-text="${post.description}">This is Description Text</p>
		
		<!-- Rating -->
		<div class="d-flex justify-content-between align-items-center">
			<div data-th-insert="~{::rating(post.stars)}"></div>
			
			
			<div data-th-if="${#authentication.name == post.memberEmail}">
				<a data-th-href="@{/member/post(id=${post.id})}" class="btn btn-primary">
					<i class="bi-pencil"></i> Edit Post
				</a>
			</div>
		</div>
	</div>

</body>
</html>