<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<nav data-th-fragment="navBar" class="navbar navbar-expand navbar-dark bg-primary" >
		<div class="container-fluid">
			<a data-th-href="@{/public/posts}" class="navbar-brand">My Gallery</a>
			
			<ul class="navbar-nav">
				<li class="nav-item">
					<a data-th-href="@{/}" class="nav-link">Home</a>
				</li>
				
				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a data-th-href="@{/admin/category}" class="nav-link">Categories</a>
				</li>

				<li sec:authorize="hasAuthority('Admin')" class="nav-item">
					<a data-th-href="@{/admin/members}" class="nav-link">Members</a>
				</li>
				
				<li sec:authorize="!hasAuthority('Admin')" class="nav-item">
					<a data-th-href="@{/member/post}" class="nav-link">Add New Post</a>
				</li>
				
				<li sec:authorize="isAnonymous()" class="nav-item">
					<a data-th-href="@{/login}" class="nav-link">Sign In</a>
				</li>
				<li sec:authorize="isAuthenticated()" class="nav-item">
					<a id="signOutMenu" class="nav-link">Sign Out</a>
				</li>
			</ul>
		</div>
	</nav>
	
	
	<!-- Pagination -->
	<div data-th-fragment="pagination(pager)" data-th-object="${pager}" data-th-if="${pager.pageCount} > 1" id="pagination" class="d-flex" >
		<div class="me-2">
			<select id="pageSizeSelect" class="form-control">
				<option value="10" data-th-selected="10 == *{pageSize}">10</option>
				<option value="25" data-th-selected="25 == *{pageSize}">25</option>
				<option value="50" data-th-selected="50 == *{pageSize}">50</option>
			</select>
		</div>
		<button data-value="0" class="btn btn-outline-primary me-1">
			<i class="bi-arrow-bar-left"></i>
		</button>
		<button data-th-each="page : *{pages}" 
			data-th-text="${page}" data-th-attr="data-value=${page} - 1"
			data-th-classappend="*{current} == ${page} ? 'btn-primary' : 'btn-outline-primary'"
			class="btn me-1">1</button>
		<button data-th-attr="data-value=*{pageCount} - 1" class="btn btn-outline-primary me-2">
			<i class="bi-arrow-bar-right"></i>
		</button>
		
		<script data-th-src="@{/js/pagination.js}"></script>
	</div>
	

</body>
</html>