<!DOCTYPE html>
<html data-th-replace="~{/layout/main :: layout('Sign In', ~{::main})}">
<head>
<meta charset="UTF-8">
<title>Hello Thymeleaf</title>

</head>
<body>

	<main>
		<h3>Sign In</h3>
		
		<div class="w-25">
			<form data-th-action="@{/login}" method="post">
				
				<div class="mb-3">
					<label class="form-label">Login Id</label>
					<input name="loginId" type="text" class="form-control" placeholder="Enter Login Id" />
				</div>
				
				<div class="mb-3">
					<label class="form-label">Password</label>
					<input name="pass" type="password" class="form-control" placeholder="Enter password" />
				</div>
				
				<div>
					<button type="submit" class="btn btn-primary">Sign In</button>
					<a href="#" class="btn btn-primary">Sign Up</a>
				</div>

			</form>
		</div>
	</main>

</body>
</html>