<!DOCTYPE html>
<html data-th-replace="~{/layout/main :: layout('Home', ~{::main})}">
<head>
<meta charset="UTF-8">
<title>Hello Thymeleaf</title>

</head>
<body>

	<main>
		
		<div data-th-if="${#lists.isEmpty(list)}">
			<div data-th-replace="~{/components/commons :: coverImage}"></div>
		</div>
		
		<div data-th-unless="${#lists.isEmpty(list)}">
			<!-- Search Bar -->
			<div class="card mb-3">
				<div class="card-body">
					<form data-th-action="@{/public/posts}" class="row">
						<div class="col">
							<input type="text" class="form-control" placeholder="Search Keyword" />
						</div>	
						<div class="col-auto">
							<button class="btn btn-outline-primary">
								<i class="bi-search"></i> Search
							</button>
						</div>
					</form>
				</div>
			</div>
			
			<!-- Result List -->
			<div sec:authorize="isAnonymous() or hasAuthority('Member')">
				<div data-th-each="item : ${list}">
					<div data-th-replace="~{/components/commons :: postItem(${item})}" class="mb-3"></div>
				</div>
			</div>
			
			<div sec:authorize="hasAuthority('Admin')" class="row row-cols-2 g-3">
				<div data-th-each="item : ${list}" class="col">
					<div data-th-replace="~{/components/commons :: postItem(${item})}" class="mb-3"></div>
				</div>
			</div>

			<!-- Pagination -->
			<div data-th-replace="~{/layout/components :: pagination(${pager})}"></div>
		</div>
				
	</main>

</body>
</html>