<div class="d-flex justify-content-between mb-3">
  <app-details-title icon="bi-building" [code]="data().code" [name]="data().name" [description]="data().description"></app-details-title>

  <div>
    <a href="#" class="btn btn-outline-info me-2">
      <i class="bi-person-add"></i> Add Employee
    </a>
    <a [routerLink]="['/departments', 'edit']" [queryParams]="{code : data().code}" class="btn btn-outline-info">
      <i class="bi-pencil"></i> Edit
    </a>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <app-card>
      <!-- Department Info -->
      <app-department-info [data]="data()"></app-department-info>
    </app-card>
  </div>

  <div class="col">
    <app-card>
      <app-employee-info-list [employees]="data().employees" [showDepartment]="false"></app-employee-info-list>
    </app-card>
  </div>
</div>
