#pagination button {
	display: inline-block;
	width: 2.8rem;
	text-align: center;
}

.img-single {
	height: 480px;
	width: 100%;
	object-fit: cover;
}

.img-grid {
	height: 240px;
	width: 100%;
	object-fit: cover;
}

.img-profile {
	height: 240px;
	width: 100%;
	object-fit: cover;
}