#pagination button {
	display: inline-block;
	width: 2.8rem;
	text-align: center;
}

.img-single {
	height: 480px;
	width: 100%;
	object-fit: cover;
}

.img-grid {
	height: 240px;
	width: 100%;
	object-fit: cover;
}

.img-profile {
	height: 240px;
	width: 100%;
	object-fit: cover;
}

.img-post {
	width: 100%;
	object-fit: cover;
}

.img-post-large {
	 height: 480px;
}

.img-post-small {
	height: 235px;
}

.img-display {
	height: 380px;
	width: 100%;
	object-fit: cover;
}

.img-control {
	width: 100px;
	height: 100px;
	object-fit: cover;
}